{{ header }}
<div id="account-forgotten" class="container">
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">
    {% if column_left %}
    <div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
      {{ column_left }}
    </div>
    {% endif %}
    {% if column_right %}
    <div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
      {{ column_right }}
    </div>
    {% endif %}
    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
      {{ content_top }}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% set i = 0 %}
          {% for breadcrumb in breadcrumbs %}
          {% set i = i + 1 %}
          {% if i == 1 %}
          <li class="breadcrumb-item">
            <a href="{{ breadcrumb.href }}">
              <span class="si si-18 d-inline-block">
                <svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                </svg>
              </span>
            </a>
          </li>
          {% elseif breadcrumbs|length != i %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% else %}
          <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
          {% endif %}
          {% endfor %}
        </ol>
      </nav>
      <h1 class="h2 mb-4">{{ heading_title }}</h1>